body {
  font-family: Times, SimSun, serif;
}
#completed {
margin: 0;
width: auto;
text-align: left;
position: relative;
border: 1px solid #ccc;
height: 7px;
bottom: 0px;
}
#completed span {
height: 4px;
background: #0C50B5;
border-top: 3px solid #2A6FD8;
display: block;
font-size: 1px;
}
.card {
  border: 1px solid #aaa;
  background: #fff;
  width: 70%;
  height: 200px;
  padding: 20px;
  text-align: center;
  position: relative;
  margin: 50px auto;
  -webkit-box-shadow: 10px 10px 50px #666; /* mmm, yummy */
}
.outer {
  display: table;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.inner {
  display: table-cell;
  vertical-align: middle;
}
.text {
  font-size: 200%;
}
.label {
  font-size: 70%;
  font-style: oblique;
  color: #666;
  position: absolute;
  right: 20px;
  bottom: 20px;
}
#instructions {
  display: none;
}
p {
  margin: 20px 0;
}
ul {
  font-size: 15px;
  text-align: left;
  margin: 0;
  padding: 0 100px;
}
li {
  margin: 10px 0;
  padding: 0;
}
.hidden {
  display: none;
}
